* {
    box-sizing: border-box;
    
}
.contenedor_inicioseccion{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #1C5630;
    margin-top: 100px;
    padding: 15px;
}

#Inicio_sesion h2,h4{
    color:white;
    text-align: center;
  }

#Bienvenidos p,a{
    color: white;
    text-align: left;
  }

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color:white;
}
.button{
    border: none;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background:  #d6d9dd;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
.seccion p{
    color: white;
}
.link{
      color: white;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin-top: 100px;
        width: 500px;
        border-radius: 2%;
    }
}

@media(min-width:480px)
{
    .formulario{
        margin-top: 100px;
        width: 500px;
        margin-top: 10px;
        border-radius: 2%;
    }

}
