.contenedor_2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor .tarjetas{
    width: 330px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    background: #1C5630;
    color: white;
}


.contenedor .tarjetas:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background: #498B2A;
}

.contenedor .tarjetas img{
    width: 330px;
    height: 220px;
}

.contenedor .tarjetas h4{
    font-weight: 600;
    text-align: center;
}

.contenedor .tarjetas p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    display: block;
}

.contenedor .tarjetas a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}